{{ define "main" }}
<section class="page">
  <header class="page-header">
    <h1>{{ .Title }}</h1>
  </header>
  <div class="page-body">
    {{ .Content }}
  </div>
  {{ if .Pages }}
  <ul class="post-list">
    {{ range .Pages.ByDate.Reverse }}
    <li class="post-item fade-in-section">
      <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
      <a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>
{{ end }}
